.chart {
  flex: 4;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  padding: 10px;
  color: gray;
  border-radius: 15px;

  .title {
    margin-bottom: 20px;
  }

  .chartGrid {
    stroke: lightgray;
  }
}