.home {
  display: flex;
  background-color: F9F9F9;

  .main {
    width: 85%;
    height: 100vh;
    margin: 0 24px;

    .staticsticCards {
      display: flex;
      padding: 20px;
      padding-left: 0;
      gap: 56px;
    }
  }
}