* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header{
  padding-top: 20px;
  overflow:auto;
  margin: 0 34px 15px 30px;
}
.cardContainer {
  width: 560px;
  height: 670px;
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  // overflow: hidden;
}
.title {
  float: left;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.12px;
  height: 24px;
}
.btnViewAll {
  float: right;
  text-transform: none;
  width: 80px;
  height: 28px;
  border: 1px solid #2a9d8f;
  border-radius: 28px;
  color: #2a9d8f;
  background-color: #ffffff;
  font-size: 12px;
  cursor: pointer;
}
.btnViewAll:hover {
  background-color: #2a9d8f;
  color: #ffffff;
}
