.navbar {
  width: 100%;
  height: 8%;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 5px #aaaaaa;
  padding: 12px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .searchGroup {
    font-size: 16px;
    display: flex;
    
    .searchInput {
      width: 350px;
      height: 28px;
      background-color: #F9F9F9;
      border: 1px solid #ccc;
      border-radius: 15px;

      &:focus {
        outline: none;
      }
    }
    
    .searchBtn {
      width: 54px;
      height: 28px;
      border: 1px solid rgb(245, 165, 5);
      background-color: rgb(237, 166, 104);
      margin-left: -25px;
      border-radius: 15px;
      color: #fff;

      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }
    }
  }

  .userInfo {
    display: flex;
    align-items: center;
    
    font-size: 20px;

    .notification {
        color: rgb(237, 166, 104);
    }

    .notification:hover {
        cursor: pointer;
        opacity: 0.9;
    }
    .userImg {
        width: 28px;
        height: 28px;
        border-radius: 50%;

        &:hover {
          cursor: pointer;
      }
    }

  }
}