.navbar {
  width: 100%;
  height: 8%;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 5px #aaaaaa;
  padding: 12px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .searchGroup {
    font-size: 16px;

    .searchInput {
      width: 350px;
      height: 28px;
      background-color: antiquewhite;
      border: 1px solid #ccc;
      border-radius: 15px;
    }
    
    .searchBtn {
      width: 54px;
      height: 28px;
      border: 1px solid rgb(245, 165, 5);
      background-color: rgb(237, 166, 104);
      border-radius: 15px;
      margin-left: -25px;
      color: #fff;

      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }
    }
  }

  .userInfo {
    display: flex;
    font-size: 20px;

    .notification,
    .username {
        color: rgb(237, 166, 104);
    }

    .notification:hover {
        cursor: pointer;
        opacity: 0.9;
    }

    .welcomeUser {
        margin: 0 24px;
        position: relative;

        &::before {
          content: "";
          border-left: 2px solid #ccc;
          height: 30px;
          position: absolute;
          left: -10px;
          top: 50%;
          transform: translateY(-50%);
        }
    }

    .userImg {
        width: 28px;
        height: 28px;
        border-radius: 50%;

        &:hover {
          cursor: pointer;
      }
    }

  }
}